$background-blue: linear-gradient(100deg, #2ac4ff 2.57%, #0d88bb 95.91%);
$background-pink: linear-gradient(100deg, #ff849d 2.57%, #c5566a 95.91%);
$background-orange: linear-gradient(100deg, #ff9f42 2.57%, #cf7528 95.91%);
$background-green: linear-gradient(100deg, #1c7a5a 2.57%, #115b41 95.91%);

$white: white;
$hover: rgb(255, 255, 255, 0.9);

body {
	color: $white;
}
